<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783747803354-qi79filcvfg9370t8k1d604om0rup5e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783747803354-qi79filcvfg9370t8k1d604om0rup5e6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>783747803354-65l0igoh3qiapv0kupmlnmnab5ig8lq4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk3IqXmcT0quIcOmHW-o-8-QeVKJR1tyI</string>
	<key>GCM_SENDER_ID</key>
	<string>783747803354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobTasks</string>
	<key>PROJECT_ID</key>
	<string>jobtask-4f464</string>
	<key>STORAGE_BUCKET</key>
	<string>jobtask-4f464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783747803354:ios:d2a1d7ab42cca9daa29de3</string>
</dict>
</plist>